@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0e0e0e;
  color: #fff;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
}
.title span {
  color: #00eaff;
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 30px;
}

.input-box {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.input-box input {
  width: 70%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 2px solid #00eaff;
  background: #111;
  color: #fff;
  font-size: 1rem;
}

.input-box button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background: #00eaff;
  cursor: pointer;
  color: #000;
  font-weight: 600;
  transition: 0.2s;
}

.input-box button:hover {
  transform: scale(1.05);
  background: #00c9d4;
}

#result {
  margin-top: 40px;
}
.download-btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 8px;
  background: #00eaff;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  margin-top: 20px;
}